body .body_home {
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
    color: white;
    height: 100vh;
}

.slogan {
    display: block;
    position: relative;
    padding-top: 150px;
    padding-left: 150px;
}

.slogan > h1 {
    font-size: 38px;    
}

.slogan > p {
    width: 500px;
    font-size: 18px;
    line-height: 40px;
}

.more_info {
    margin-top: 40px;
}

.more_info a {
    text-decoration: none;
    background: linear-gradient(97.65deg, #60BBEE 0.33%, #0A72AD 93.35%);
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
}

.home_foot {
    padding-left: 150px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.num{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.home_foot .block{
    position: relative;
    padding: 50px 0px;
    bottom: 0;
}


.home_foot .foot_right {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-top: 50px;
    width: 50%;
    background: linear-gradient(97.73deg, #399FD8 -6.96%, #0775B4 23.5%, #003756 92.79%);
    z-index: 1;
}

.home_foot .foot_right .block1{
    margin-left: 20px;
    margin-top: 40px;
}

.home_foot .foot_right .block2{
    margin-top: 40px;
}

.home_foot .foot_right .block3{
    margin-top: 20px;
}

.home_foot img {
    position: absolute;
    bottom: 1vh;
    right: 0;
    height: 95vh;
}



