.findbar {
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
    top: 130px;
    left: 20px;
    position: fixed;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    padding-bottom: 50px !important;
    border-radius: 20px;
}

span.find_title {
    margin-bottom: -10px;
}

.findbar span {
    padding-bottom: 30px;
}

.search {
    vertical-align: baseline;
}

.search input {
    height: 30px;
    width: 290px;
    margin-right: 2px;
    border-radius: 10px;
    padding-left: 10px;
}

.search button {
    vertical-align: middle;
    border-radius: 10px;
}

.filter {
    display: flex;
    justify-content: space-between;
}

/* .findbar #button {
    padding: 10px 0px;
} */

.clear-btn {
    position: relative;
    left: 50%;
    translate: -50%;
    width: 130px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}